---
details:
  - display: 'Alkoholgehalt'
    handle: 'alcohol'
    show_modal: true
  - display: 'Stammwürze'
    handle: 'extract'
    show_modal: true
  - display: 'Bittereinheiten'
    handle: 'bitter'
    show_modal: true
  - display: 'Farbe'
    handle: 'color'
    show_modal: true
  - display: 'Energie'
    handle: 'energy'
  - display: 'Gebinde'
    handle: 'bundle'
  - display: 'Zutaten'
    handle: 'ingredients'
---

<div class="min-h-screen w-full h-full">
    {{ partial:hero-part }}
    {{ partial:main-part }}
        <div class="relative py-15 z-10 bg-white">
            {{ partial:section width="wide" }}
                <div class="flex flex-col gap-16 md:gap-0">
                    {{ collection:drinks :category:is="page.id" scope="drink" }}
                        {{ partial:templates.category.drink }}
                    {{ /collection:drinks }}
                </div>
            {{ /partial:section }}
        </div>
        {{ if page.quote.quote }}
            {{ partial:sets.quote :set="page.quote" }}
        {{ /if }}
    {{ /partial:main-part }}
</div>

{{ view:details scope="detail" }}
    {{ if detail.show_modal }}
        {{ push:modals }}
            <div
                x-cloak
                x-show="visibleModal === 'detail_{{ detail.handle }}'"
                class="fixed top-0 left-0 w-full h-full z-50"
            >
                <div class="absolute inset-0 bg-black/70">

                </div>

                <div class="relative w-full h-full flex items-center justify-center p-3">
                    <div
                        class="relative w-full h-[90%] max-w-screen-sm bg-base-100 px-5 md:px-10 pb-8 pt-11 flex flex-col gap-4">
                        <div class="h-full overflow-scroll">
                            <div class="flex flex-col gap-4">
                                <div class="font-headline text-3xl text-center">
                                    {{ detail.display }}
                                </div>
                                <div class="editor pb-4">
                                    {{ detail.handle | explanation }}
                                </div>
                            </div>
                        </div>

                        <div
                            class="absolute top-2.5 right-2 text-base-400 cursor-pointer"
                            x-on:click="hideModal"
                        >
                            <i class="fa-solid fa-xmark text-3xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        {{ /push:modals }}
    {{ /if }}
{{ /view:details }}
