<div class="@container">
    <div>
        <div class="flex flex-col gap-14">
            {{ partial:partials/ratio-container :ratio="card.image_ratio" }}
                <img
                    src="{{ card.image | cdn_image('contain-max=1200x1200') }}"
                    alt="{{ card.image.alt }}"
                    class="w-full h-full 
                        {{if card.image_fill == 'contain'}} 
                        object-contain 
                        {{ else }} 
                        object-cover 
                        {{/if }}
                    "
                />
            {{ /partial:partials/ratio-container }}

            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-3">
                    <h2 class="font-headline text-2xl @md:text-3xl @xl:text-4xl">
                        {{ card.headline | nl2br }}
                    </h2>
                    <div class="editor">
                        {{ card.text }}
                    </div>
                </div>
                {{ if card.link }}
                    <div class="flex">
                        <a
                            href="{{ card.link }}"
                            {{ if card.link | is_external_url }}
                            target="_blank"
                            {{ /if }}
                        >
                            {{ partial:button }}
                                {{ card.link_text ?: 'Mehr erfahren' }}
                            {{ /partial:button }}
                        </a>
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>
