<div class="flex flex-col gap-8 @container">
    <div>
        <a href="{{ category.url }}">
            <div class="aspect-16/10">
                <img
                    src="{{ category.overview_image | cdn_image('contain-max=1200x1200') }}"
                    alt="{{ category.overview_image.alt }}"
                    class="w-full h-full object-cover"
                />
            </div>
        </a>
    </div>

    <div class="flex flex-col gap-3">
        <h2 class="font-headline text-2xl @xs:text-3xl @md:text-4xl">
            {{ category.title }}
        </h2>

        <div class="editor">
            {{ category.overview_text }}
        </div>
    </div>

    <div class="flex">
        <a href="{{ category.url }}">
            {{ partial:button mode="primary" }}
                Mehr erfahren
            {{ /partial:button }}
        </a>
    </div>
</div>
