{{ partial:section width="wide" }}
    <div class="py-16 flex flex-col gap-28">
        {{ partial:headline }}
        {{ events_by_month scope="month" }}
            <div class="flex flex-col gap-15">
                <div class="flex items-center gap-2">
                    <img
                        src="/img/calendar.png"
                        alt="{{ month.name }} {{ month.year }}"
                        class="w-7.5 translate-y-[-2px]"
                    />

                    <span class="font-headline text-2xl">
                        {{ month.name }}
                        {{ month.year }}
                    </span>
                </div>

                <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16">
                    {{ month.events scope="event" }}
                        {{ partial:sets.events.event }}
                    {{ /month.events }}
                </div>
            </div>
        {{ /events_by_month }}

    </div>
{{ /partial:section }}
