{{ partial:section width="wide" }}
    <div class="py-16 flex flex-col gap-30">
        <div class="flex flex-col gap-14">
            {{ partial:headline }}
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16">
                {{ collection:events :dates.end:gte="today" scope="event" limit="3" }}
                    {{ partial:sets.events.event }}
                {{ /collection:events }}
            </div>
        </div>
        {{ if set.all_events_link }}
            <div class="flex justify-center @container">
                <a href="{{ set.all_events_link }}">
                    {{ partial:button mode="primary" }}
                        Alle Veranstaltungen
                    {{ /partial:button }}
                </a>
            </div>
        {{ /if }}
    </div>
{{ /partial:section }}
