<div>
    {{ view:details scope="detail" }}
        {{ if drink[detail.handle] || detail.handle === 'alcohol' }}
            <div>
                {{ if !drink[detail.handle] && detail.handle === 'alcohol' }}
                    <span class="font-semibold">Alkoholfrei</span>
                {{ else }}
                    <span class="font-semibold">{{ detail.display }}:</span>

                    <span>
                        {{ drink[detail.handle] }}
                    </span>
                    {{ if detail.show_modal }}
                        <button
                            class="cursor-pointer"
                            x-on:click="showModal('detail_{{ detail.handle }}')"
                        >
                            &nbsp;{{ partial:small-info-button }}
                        </button>
                    {{ /if }}
                {{ /if }}
            </div>
        {{ /if }}
    {{ /view:details }}
</div>
